<div class="view">
    <div class="container">
        <header>
            <h3><span class="glyphicon glyphicon-info-sign"></span> About</h3>
        </header>
        <br />
        <div class="container">
            <div class="row">
                <div class="col-md-2">Created by:</div>
                <div class="col-md-10"><a  target="_blank">Manish Agarwal</a></div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-2">GitHub:</div>
                <div class="col-md-10"><a href="https://github.com/DanWahlin/Angular-JumpStart" target="_blank">https://github.com/DanWahlin/Angular-JumpStart</a></div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-2">Linkedin:</div>
                <div class="col-md-10"><a href="mailto:training@codewithdan.com" target="_blank"></a></div>
            </div>
        </div>
    </div>
</div>