<div class="container">
  <div *ngIf="customer">
    <div class="row">
      <div class="col-md-2">
        <img src="assets/images/{{customer.gender | lowercase}}.png" class="details-image" />
      </div>
      <div class="col-md-10">
        <h4>    
            {{ customer.first_name | capitalize }} {{ customer.last_name | capitalize }}&nbsp;
        </h4>
        <br />
        {{ customer.address }}
        <br />
        {{ customer.city }}, UTAH
      </div>
    </div>    
    <br /><br />
    <div class="row">
      <div class="col-md-12">
        <app-map [customers] = "customerInfoForMap"
        ></app-map>
      </div>
    </div>
  </div>   
  <div *ngIf="!customer" class="row">
     No customer found
  </div>  
</div>  