<div class="container">
    <div class="row card-container">
        <div class="col-sm-6 col-md-4 col-lg-3" *ngFor="let customer of customers">
            <div class="card">
                <div class="card-header">
                    <a [routerLink]="['/customer',customer.customer_id,'details']" class="white">
                        {{customer.first_name | capitalize }} {{ customer.last_name | capitalize }} 
                    </a>
                    <a [routerLink]="['/customer',customer.customer_id,'edit']">
                        <i title="Edit"  
                           class="pull-right glyphicon glyphicon-edit edit-icon white"></i>
                    </a>
                </div>
                <div class="card-body">
                    <div class="clearfix">
                        <div class="pull-left card-body-left">
                            <a class="white">
                                <img src="assets/images/{{customer.gender}}.png" class="card-image" />
                            </a>
                        </div>
                        <div class="pull-left card-body-right">
                            <div class="card-body-content">{{customer.city }}, {{customer.state_name}}</div>
                            <a [routerLink]="['/customer',customer.customer_id,'orders']">View Orders</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="!customers.length">
            No Records Found
        </div>
    </div>
</div>