{{customer | json}}
<div class="container">
    <h1>Customer Form</h1>
    <form #customerForm="ngForm">
      <div class="form-group">
        <label for="fname">First Name</label>
        <input type="text" class="form-control" id="fname" name="fname" [(ngModel)]="customer.firstName" required #fname="ngModel">
        <div [hidden]="fname.valid || fname.pristine"
             class="alert alert-danger">
          Name is required
        </div>
      </div>

      <div class="form-group">
        <label for="lname">Last Name</label>
        <input type="text" class="form-control" id="lname" name="lname" [(ngModel)]="customer.lastName" required #lname="ngModel">
      </div>

      <div class="form-group">
        <label for="address">Address</label>
        <input type="text" class="form-control" id="address" name="address" [(ngModel)]="customer.address" required #address="ngModel">
      </div>

      <div class="form-group">
        <label for="city">City</label>
        <input type="text" class="form-control" id="city" name="city" [(ngModel)]="customer.city" required #city="ngModel">
      </div>

      <div class="form-group">
        <label for="state">State</label>
        <input type="text" class="form-control" id="state" name="state" [(ngModel)]="customer.state" required #state="ngModel">
      </div>


      <div class="form-group">
        <label for="gender">Gender</label>
        <input type="radio" name="gender" id="gender" name="gender" [(ngModel)]="customer.gender" required #gender="ngModel" value="Male">Male
        <input type="radio" name="gender" id="gender" name="gender" [(ngModel)]="customer.gender" required #gender="ngModel" value="Female">Female
      </div>
 
      <button type="submit" class="btn btn-success">Submit</button>
 
    </form>
</div>