<div class="customers view indent">
    <div class="container">
        <header>
            <h3>
                <span class="glyphicon glyphicon-user"></span>
                {{ title }}
            </h3>
        </header>
        <br />
        <div class="row">
            <div class="col-md-10">
                <div class="navbar">
                    <ul class="nav navbar-nav">
                        <li class="toolbar-item">
                            <a (click)="changeDisplayMode(displayModeEnum.Card)" [class.active]="displayMode === displayModeEnum.Card">
                                <span class="glyphicon glyphicon-th-large"></span> Card View
                            </a>
                        </li>
                        <li class="toolbar-item">
                            <a (click)="changeDisplayMode(displayModeEnum.Grid)" [class.active]="displayMode === displayModeEnum.Grid">
                                <span class="glyphicon glyphicon-align-justify"></span> List View
                            </a>
                        </li>
                        <li class="toolbar-item">
                            <a (click)="changeDisplayMode(displayModeEnum.Map)" [class.active]="displayMode === displayModeEnum.Map">
                                <span class="glyphicon glyphicon-map-marker"></span> Map View
                            </a>
                        </li>
                        <li class="toolbar-item">
                            <a routerLink="/customer/0/edit">
                                <span class="glyphicon glyphicon-plus"></span> New Customer
                            </a>
                        </li>
                    </ul>
                    <div class="navbar-right">
                         Filter: <input type="text" name="filter" id="filter" [(ngModel)]="filter" (keyup)="filterChanged()"/>
                    </div>
                </div>
            </div>
        </div>
        
        <app-customer-card 
          [customers]="customers"
          [hidden]="displayMode !== displayModeEnum.Card"></app-customer-card>
    
        <app-customer-grid 
          [customers]="customers" 
          [hidden]="displayMode !== displayModeEnum.Grid"></app-customer-grid>

        <app-map *ngIf="displayMode === displayModeEnum.Map" 
            [customers]="customers"
        ></app-map>
        <app-pagination 
            [totalItems]="totalRecords" 
            [pageSize]="pageSize" 
            (pageChanged)="pageChanged($event)"></app-pagination>
    </div>
</div>